@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind utilities;

@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-header: #308a4e;
  /* --color-header: red; */
}

/* Root styles */
:root {
  color-scheme: light;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #111827;
}

/* Body reset and layout */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
